{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <link type="image/png" href="{% static 'network/network.png' %}" rel="icon"/>
        <title>{% block title %}Social{% endblock %}</title>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand" id="nav-resp">
            <!-- Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
            <img src="{% static 'network/network.png' %}" alt="people" width="50" height="50">
            <a class="navbar-brand" href="{% url 'index' %}">Social</a>

            {% if user.is_authenticated %}
                    <a id="username-nav" class="nav-link" href="profile/{{ user.username }}"><strong>Welcome {{ user.username.capitalize }}</strong></a>
            {% endif %}

            <button class="btn-nav-responsive" {% if not user.is_authenticated %}id="btn-nave-space"{% endif %}><span>=</span></button>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item hide-sm">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item hide-sm">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item hide-sm">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item hide-sm">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item hide-sm">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- Nave in small devices -->
        <ul class="navbar-nav mr-auto toggled">    
            <li class="toggle-items">
                <div class="item-res">
                    <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </div>
                {% if user.is_authenticated %}
                <div class="item-res">
                  <a class="nav-link" href="{% url 'following' %}">Following</a>
                </div>
                <div class="item-res">
                  <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </div>
                {% else %}
                <div class="item-res">
                  <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </div>
                <div class="item-res">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </div>
              {% endif %}
            </li> 
        </ul >
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="icons">
                Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> and <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
            </div>
            <img src="{% static 'network/network.png' %}" alt="people" width="35" height="35">
            <div>
                Social media made by Meneguini
            </div>
        </footer>
    </body>
</html>