{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand navbar" id="nav-resp">
            <!-- Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
            <img src="{% static 'network/network.png' %}" alt="people" width="50" height="50">
            <a class="navbar-brand" href="{% url 'index' %}">Social</a>

            {% if user.is_authenticated %}
                <!-- <li class="nav-item"> -->
                    <a id="username-nav" class="nav-link" href="profile/{{ user.username }}"><strong>Welcome {{ user.username.capitalize }}</strong></a>
                <!-- </li> -->
            {% endif %}
          
              <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="icons">
                Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> and <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
            </div>
            <img src="{% static 'network/network.png' %}" alt="people" width="35" height="35">
            <div>
                Social media made by Meneguini
            </div>
        </footer>
    </body>
</html>